@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,500;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Kavoon&family=Poppins:ital,wght@0,500;1,400;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    color: azure;
}
body{
    padding: 0;
    margin: 0;
}
.movie{
width: 100%;
height: 100%;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(/image/galaxy.png);
background-size: cover;
background-position: center;
 
}
.trailer,.trailer2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px ;
}

.nav-link{
    color: azure;
}
.nav-link:hover{
    color:gray;
}
.navbar-brand{
    font-family: 'Fredoka One', cursive;
    color: azure;
}
.navbar-brand:hover{
    color: gray;
}
.kid{
    color: yellow;
    font-family: 'Kavoon', cursive;
    font-weight: 30px;

}
nav{
    background-image: url(/image/galaxy.png);
}
.btn {
    background: #13005A;
    background-image: -webkit-linear-gradient(top, #13005A, #13005A);
    background-image: -moz-linear-gradient(top, #13005A, #13005A);
    background-image: -ms-linear-gradient(top, #13005A, #13005A);
    background-image: -o-linear-gradient(top, #13005A, #13005A);
    background-image: linear-gradient(to bottom, #13005A, #13005A);
    -webkit-border-radius: 21;
    -moz-border-radius: 21;
    border-radius: 21px;
    font-family: Arial;
    color: white;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   margin-left: 10px;
  }
  
  .btn:hover {
    background: #13005A;
    background-image: -webkit-linear-gradient(top, #13005A, #13005A);
    background-image: -moz-linear-gradient(top, #13005A, #13005A);
    background-image: -ms-linear-gradient(top, #13005A, #13005A);
    background-image: -o-linear-gradient(top, #13005A, #13005A);
    background-image: linear-gradient(to bottom, #13005A, #13005A);
    text-decoration: none;
  }
.search{
    display: flex;
    align-items: center;
    background-color:#00337C;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border : none;
    background-color: transparent;

}
.searchInput::placeholder{
    color: azure;
}
.carousel-inner{
    height: 450px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center; 

}
.item2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom:  20px;

}
.item3{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom:  20px;

}
.item4{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom:  20px;

}
.popular{
    background-image: url(/image/galaxy.png);
}
.movies{
    background-image: url(/image/galaxy.png);
}
.series{
    background-image: url(/image/galaxy.png);
}
.sports{
    background-image: url(/image/galaxy.png);
}
.popularsports{
    background-image: url(/image/galaxy.png);
}
.kids{
    background-image: url(/image/galaxy.png);
}
.ic{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
   
}
.fa{
    font-size:40px; 
    color: #041C32;
}
a{
    text-decoration: none;
}
.ic:hover{
    transform: scale(1.25);
    transition: 0.2s ease-in-out;
}
h3{
    color: azure;
    padding-left : 30px;
    padding-top: 10px;
}
hr{
    width:95%;
    border-width: 2px;
   margin: 20px ;
  color: white solid;
}
.card{
    width:200px;
    height:250px;
    margin: auto 20px;
    min-height: 0;
    background-color: black;
    border-radius: 6.5%;
    
}
.card:hover{
    transform: scale(1.04);
    transition: 0.2s ease-in-out;


}
 .card-img{
    width:200px;
    height:250px;
    border-radius: 6.5%;
    min-height: 0;
    position: absolute;
    
 }
 #footer{
    padding: 6% 4%;
    text-align: center;
    background-color: black;
    color: white;
    height:250px;
}
.copy{
  
    letter-spacing: 1.2px;
}
.des{
    padding-top: 10px;
    font-size: 15px;
}
.f{

   margin:25px 15px;
    
}
.foot{
 width:20px;
height: 20px;
border-radius: 7%;
}

 @media (max-width:768px){
 .carousel-inner{
    width:414px;
    height: 164px;
   }
   .navbar-toggler-icon{
    background-color: lightgray;
    border-radius: 6%;
    
   }
   .search{
    width:260px;
    height: 20px;
   }
   .searchInput{
    font-size: 10px;
   }
   h3{
    font-size: 20px;
   }
   hr{
    width: 100%;
    margin: 5px 0;
   }
   
   .item,.item1,.item2,.item3,.item4{
    width: 100vw;
    flex-direction: column;
   }
   .card{
    margin-top:10px;
   }
   iframe{
    width:100%;
   height: 200px;
   }
   #footer{
    width:100%;
    height: 180px;
   }
   .copy{
    font-size: 12px;
    padding-top: 0%;
    letter-spacing: 1.2px;
}
.des{
    padding-top: 5px;
    font-size: 10px;
    margin-top: 5px;
}
.name{
    padding-top: 10px;
}
.f{

   margin:15px 10px;
    
}
.foot{
 width:15px;
height: 15px;
border-radius: 7%;
}
 }
    
 